{% extends 'base.html' %}

{% block meta %}
<title>Create New Todo List</title>
{% endblock meta %}

{% block content %}



<div class = "create_task">
    <form method="POST" action="">
        {% csrf_token %}
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-60 col-lg-6 col-xl-5">
                  <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
          
                      <div class="mb-md-20 mt-md-20 pb-50">
          
                        <h2 class="fw-bold mb-2 text-uppercase">Create Task</h2>
                        <table class="text-start table table-borderless vertical-align form-control" style="font-size: small;">  

                            <tr class="form-outline form-white mb-4">
                                <td>
                                    Title

                                </td>
                                <td>
                                    <input type="text" name="title" id="typeTitle" class="form-control" />
                                    
                                </td>
                            </tr>
                            <tr class="form-outline form-white mb-4">  
                                <td>
                                    Description
                                </td>
                                <td>
                                    <input type="text" name="description" id="typeDescription" class="form-control" />
                                </td>
                            </tr>  
                        </table>

                        <input class="btn login_btn btn btn-primary form-control" type="submit" name="submit" value="Create!"/>

    

          
                      </div>
          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </form>
</div>

{% endblock content %}