{% extends 'base.html' %}


{% block meta %}
<title>Login</title>

{% endblock meta %}

{% block content %}

<!-- <div class = "login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>

</div> -->

<!-- <style>
    .login {
    color: rgb(0, 0, 0); 
    padding: 10px; 
    font-family: 'verdana';
    text-align: center;
    background-image: linear-gradient(90deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);

}
</style> -->

<div class = "login">
    <form method="POST" action="">
        {% csrf_token %}
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
          
                      <div class="mb-md-5 mt-md-4 pb-5">
          
                        <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                        <p class="text-white-50 mb-5">Please enter your username and password!</p>
          
                        <div class="form-outline form-white mb-4">
                          <input type="text" name="username" id="typeUsername" class="form-control" />
                          <label class="form-label" for="typeUsername">Username</label>
                        </div>
          
                        <div class="form-outline form-white mb-4">
                          <input type="password" name="password" id="typePasswordX" class="form-control" />
                          <label class="form-label" for="typePasswordX">Password</label>
                        </div>
          
          
                        <input class="btn btn-outline-light btn-lg px-5" type="submit" value="Login"></input>
          
                      </div>
    
                      <div style="text-align: center;">
                        {% if messages %}
                        <ul>
                       {% for message in messages %}
                       <div class="alert alert-danger" role="alert">
                           {{ message }}
                       </div>
                       {% endfor %}
                        </ul>
                       {% endif %}
                      </div>
        
    
          
                      <div>
                        <p class="mb-0">Don't have an account? <a href="{% url 'todolist:register' %}" class="text-white-50 fw-bold">Sign Up</a>
                        </p>
                      </div>
          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </form>
</div>



{% endblock content %}