{% extends 'base.html' %}

{% block content %}

<h1>Assignment 4 PBP/PBD</h1>


<h4>Selamat Datang, {{username}}</h4>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Add task</button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">New Task</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="formtask">
            {% csrf_token %}
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Title:</label>
              <input type="text" class="form-control" id="field_title" name="title">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Description:</label>
              <textarea class="form-control" id="field_desc" name="description"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="addtaskbutton" data-bs-dismiss="modal">Add</button>
        </div>
      </div>
    </div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function()  {
    refreshTodolist();
  });
  
  async function getTodolist() {
    return fetch("{% url 'todolist:get_todolist_json' %}").then((res) => res.json())
  }

  async function refreshTodolist() {
        document.getElementById("cardcontainer").innerHTML = ""
        const todolist = await getTodolist()
        let htmlString = ``
        todolist.forEach((item) => {
          htmlString += `<div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://drive.google.com/uc?export=view&id=17KEpEig6Y5PX9nUwZl1INRzj9Xuuz9NS" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h5 class="card-title">${item.fields.title}</h5>
          <h6 class="card-subtitle mb-2 text-muted">${item.fields.date}</h6>
          <p class="card-text">${item.fields.description}</p>
          <p class="card-text"></p> 
          {% if task.is_finished %}
          <p class="card-text">Finished</p>
          {% else %}
          <p class="card-text">Not Finished</p>
          {% endif %}
          
          
          
        </div>
      </div>
    </div>` 
        })
        
        document.getElementById("cardcontainer").innerHTML = htmlString
  }

  function addTodolist() {
    fetch("{% url 'todolist:add_todolist_item' %}", {
          method: "POST",
          body: new FormData(document.querySelector('#formtask'))
      }).then(refreshTodolist)
    return false
  }

  // function deleteTask(val) {
  //   console.log(111);
  //   fetch(`{% url 'todolist:deleteTask' 1 %}`, {
  //     method: "DELETE"
  //   }).then(refreshTodolist)
  // }

  document.getElementById("addtaskbutton").onclick = addTodolist
  
  refreshTodolist()
</script>

<div class="container mx-auto mt-4">
  <div class="row" id="cardcontainer">

  </div>
</div>

<!-- <h5>Sesi terakhir login: {{ last_login }}</h5> -->

<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

{% endblock content %}
