{% extends 'base.html' %}

{% block content %}

<h1>Assignment 3 PBP/PBD</h1>

<h5>Name: </h5>
<p>{{name}}</p>

<h5>Student ID: </h5>
<p>{{id}}</p>

<table>
  <tr>
    <th>Watched?</th>
    <th>Title</th>
    <th>Rating</th>
    <th>Release Date</th>
    <th>Review</th>
  </tr>

  {% for watchlist in list_item %}
  <tr>
    <th>{{watchlist.watched}}</th>
    <th>{{watchlist.title}} </th>
    <th>{{watchlist.rating}} </th>
    <th>{{watchlist.release_date}} </th>
    <th>{{watchlist.review}} </th>
  </tr>
  {% endfor %}

 
</table>

{% endblock content %}
